
*{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

h1{
    text-align: center;
    text-shadow: antiquewhite;
    font-family: 'Lucida Handwriting';

}

body{
    background-image: url("https://i.pinimg.com/564x/eb/7e/75/eb7e757142924dbdc0d0e4563c8536d8.jpg");
}

 main{
    margin-left: 5%;
    margin-right: 5%;
}

h2{
color: rgb(134, 33, 104);
}

h3{
    color:palevioletred;
    background-color:papayawhip;
    padding: 0.5%;
    font-family: 'Lucida Handwriting';
}

header{ 
    background-color: palevioletred;
    color:papayawhip;
    padding: 1%;
    margin: 0%;

}

.Bar{
    color: white;
    text-decoration: none;
    padding: 0.5%;
    margin: 0.3%;
    border-radius: 5%;
    border-right: white;
}

.Bar:hover {
    background-color: papayawhip;
    color: palevioletred;
    padding: 0.8%;

    transition-property: all;
    transition-duration: 0,8s;
}

h4{
    text-align: center;
color: rgb(134, 33, 104);   
font-size: 200%; 
font-family: 'Lucida Handwriting';
}

.container{
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    margin-top: -1%;
       
}

.container1{
display: flex;
justify-content: center;
align-items: center;
}

.container2{
    color: palevioletred;
    background-color:papayawhip;
    padding: 5%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.fab{
    margin: 0.5%;
    font-size: larger;
    text-decoration: none;
    color: palevioletred;
}

.container3{
    display: flex;
}
.form-group{

}


.imgdescript{
    display: inline-flex;
    width: 1047px;
}

.foto{
    margin: 1%;
    margin-right: 2%;
}

.historia{
    text-align: justify;
}